<br>
<br>
<br>
<br>
<br>
<section class="personal-projects mb-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <!-- First card -->
        <div class="col">
            <div class="card">
                <div class="ratio ratio-1x1">
                    <img src="assets\pics\pie_chart.png" alt="Pie Chart Image" class="card-img-top ratio ratio-1x1">
                </div>
                <div class="card-body">
                    <span class="badge text-bg-secondary mb-2 me-2">IT Code Fair 2024</span>
                    <span class="badge text-bg-secondary mb-2 me-2">Northern Territory</span>
                    <h5 class="card-title">NT Crime Statistics Dashboard</h5>
                    <p class="card-text">
                        A comprehensive Power BI dashboard analyzing crime data from the Northern Territory Police Force. 
                        The report offers valuable insights into crime trends, patterns, 
                        and geographical distribution across different offense categories and types. 
                        Key features include interactive visualizations, drill-down capabilities, and clear data storytelling.
                    </p>
                    <a
                    href="https://drive.google.com/file/d/1mvsMIyhZJr1oE22aRw1rCd5JHqhUOnO6/view?usp=sharing" 
                    class="btn btn-primary"
                    target="_blank">
                    PowerBI Report Files
                </a>
                </div>
            </div>
        </div>
        <!-- Connect NT -->
        <div class="col">
            <div class="card">
                <div class="ratio ratio-1x1">
                    <img src="assets\pics\Connect_NT_GovHack2023.png" alt="Connect NT Image" class="card-img-top">
                </div>
                <div class="card-body">
                    <span class="badge text-bg-secondary mb-2 me-2">GovHack 2023</span>
                    <span class="badge text-bg-secondary mb-2 me-2">Northern Territory</span>
                    <h5 class="card-title">Connect NT</h5>
                    <h6 class="card-subtitile">Using AI to better connect Northern Territory Science with the community</h6> 
                    <p class="card-text">
                        ConnectNT platform combines the power of AI tools into one platform especially focused on NT based research publications with the 
                        ability to translate scientific literature into local languages.The idea was submitted in GovHack 2023 regional challenge. 
                        The documentation, prototype and project pitch were developed as part of the challenge.
                    </p>
                    <a 
                    role="button" 
                    class="btn btn-primary me-2"
                    href="https://docs.google.com/document/d/1k6WKz_OFVqR37-D3mCxQbX5UP6QkmwP4SAOJLj70UaU/edit?tab=t.0"
                    target="_blank">Documentation</a>
                    <a 
                    role="button"
                    href="https://www.figma.com/file/LljAyYTXZOfRVwK8wUyxxY/Untitled?type=design&node-id=0%3A1&mode=design&t=A0cMmDzE4Q45LrX8-1" 
                    class="btn btn-primary me-2"
                    target="_blank">prototype</a>
                    <a 
                    href="https://youtu.be/dqTAEVFWPok" 
                    class="btn btn-primary"
                    target="_blank">Video</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="ratio ratio-1x1">
                    <img src="assets\pics\NL to SQL.png" alt="Natural Language To SQL Graphic" class="card-img-top">
                </div>
                <div class="card-body">
                    <span class="badge text-bg-secondary mb-2 me-2">Internship</span>
                    <span class="badge text-bg-secondary mb-2 me-2">InterSystems</span>
                    <h5 class="card-title">Natural Language to SQL</h5>
                    <h6 class="card-subtitle">Text-to-SQL queries using GPT-4 and pre-prompting techniques</h6>
                    <p class="card-text">Users can type in natural language and get fairly accurate SQL queries in response. 
                        Many pre-prompting techniques like Chain-of-thought, few shot prompting etc. 
                        were used to guide GPT-4 to generate SQL queries. 
                        The provided data could be structured table schema in XML or JSON files or unstructured conversational 
                        data, for example, from an IT support tool.
                        </p>
                    <a 
                    href="https://drive.google.com/file/d/1hxYbv3HCxOq3G8IOdkEn1ye4OrSCrOMM/view" 
                    class="btn btn-primary me-2"
                    target="_blank"
                    >TrakCare Demo Video</a>
                    <a 
                    href="https://drive.google.com/file/d/1GSGFeDoKIPdMwtqzKuHpJlFyeM83j7KK/view" 
                    class="btn btn-primary"
                    target="_blank"
                    >iService Demo Video</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="ratio ratio-1x1">
                    <img src="assets\pics\Telemedicare.png" alt="Telemedicare logo designed for project" class="card-img-top">
                </div>
                <div class="card-body">
                    <span class="badge text-bg-secondary mb-2 me-2">IT Code Fair 2023</span>
                    <span class="badge text-bg-secondary mb-2 me-2">Northern Territory</span>
                    <h5 class="card-title">TeleMediCare</h5>
                    <h6 class="card-subtitle">A platform designed for virtual care in the NT</h6>
                    <p class="card-text">n the Northern Territory (NT), the ratio of General Practitioners to the population is 94 per 100,000 people, 
                        while Queensland boasts a higher ratio of 125.4. The NT faces critical health challenges, including the highest premature death rate, 
                        a growing prevalence of chronic illnesses, and 40% of its residents residing in remote or very remote areas, 
                        which hinder access to healthcare services. Virtual Care can help meet the need 
                        of Territorians by optimising access and quality of consumer care. Its implementation has the potential to yield 
                        significant benefits, with estimated annual travel cost savings exceeding $6.3 million, 
                        in addition to reduced cancellation expenses and enhanced healthcare accessibility. 
                        Enter TeleMediCare: a telemedicine platform designed for virtual care. The platform utilizes advanced technology to offer 
                        a secure and seamless online consultation experience, connecting patients with licensed healthcare professionals.
                    </p>
                    <a 
                    href="https://www.youtube.com/watch?v=lKqCnYpn4CA" 
                    class="btn btn-primary me-2"
                    target="_blank"
                    >Demo Video</a>
                    <a 
                    href="https://github.com/alvinvh/ITCodeFair/tree/main?tab=readme-ov-file" 
                    class="btn btn-primary"
                    target="_blank"
                    >GitHub</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="ratio ratio-1x1">
                    <img src="assets\pics\Thesis project.png" alt="Thesis poster image" class="card-img-top">
                </div>
                <div class="card-body">
                    <span class="badge text-bg-secondary mb-2 me-2">IT Code Fair 2023</span>
                    <span class="badge text-bg-secondary mb-2 me-2">Northern Territory</span>
                    <span class="badge text-bg-secondary mb-2 me-2">Poster Competition</span>
                    <span class="badge text-bg-secondary mb-2 me-2">Research Competition</span>
                    <span class="badge text-bg-secondary mb-2 me-2">Machine Learning</span>
                    <h5 class="card-title">Thesis Project</h5>
                    <h6 class="card-subtitle">Can Machine Learning Predict Sheep Age to Enhance Business Value?</h6>
                    <p class="card-text">The age of livestock is a silent but significant force that affects the livelihood of countless 
                        farmers and the nation’s agricultural narrative as a whole. Industry standard techniques to identify livestock age
                        have limitations that affect the hide and carcass value. This reasearch research aims to build a machine learning model that
                        can predict the age of sheep using data collected by near-visible infrared spectroscopy (vis-NIR). 
                        </p>
                        <a 
                        href="https://github.com/gshiva53/MachineLearning" 
                        class="btn btn-primary me-2"
                        target="_blank"
                        >GitHub</a>
                        <a 
                    href="https://www.canva.com/design/DAFwAgMwewc/_tDUo_DaIjWyD_N3qtvCmw/edit?utm_content=DAFwAgMwewc&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" 
                    class="btn btn-primary me-2"
                    target="_blank"
                    >Poster</a>
                    <a 
                    href="https://www.canva.com/design/DAGFrSR4v1E/cj_ZKpigoPQeouLnUO-Hfg/edit?utm_content=DAGFrSR4v1E&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" 
                    class="btn btn-primary"
                    target="_blank"
                    >Demo Presentation</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets\pics\Doctor's Notes.png" alt="Doctor's Notes concept image for the Doctor" class="card-img-top">
                <div class="card-body">
                    <span class="badge text-bg-secondary mb-2 me-2">Game Dev</span>
                    <span class="badge text-bg-secondary mb-2 me-2">Bachelors</span>
                    <h5 class="card-title">Doctor's Notes</h5>
                    <h6 class="card-subtitle">A bleak crafting game about death.</h6>
                    <p class="card-text">Play as a series of doctors during a plague in a decaying fantasy world. 
                        Travel across a suffering country while treating the sick, investigating the cause of the affliction,
                        and training your apprentice. All while trying to stay ahead of the corruption and death sweeping the land.
                        Discover the cause and cure for the plague before it ends the world as you know it.</p>
                        <a 
                        href="https://github.com/WilliamKlarenbeek/DoctorsNotes" 
                        class="btn btn-primary me-2"
                        target="_blank"
                        >GitHub</a>
                    </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                    <img src="assets\pics\Notifications to MS Teams.png" alt="Notifications to MS Teams graphic" class="card-img-top">
                    <div class="card-body">
                        <span class="badge text-bg-secondary mb-2 me-2">Internship</span>
                        <span class="badge text-bg-secondary mb-2 me-2">InterSystems</span>
                        <h5 class="card-title">Notifications to MS Teams</h5>
                        <h6 class="card-subtitle">ObjectScript Application for Health care providers</h6>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <span class="badge text-bg-secondary mb-2 me-2">Web Dev</span>
                        <span class="badge text-bg-secondary mb-2 me-2">Bachelors</span>
                        <h5 class="card-title">Universal</h5>
                        <h6 class="card-subtitle">Website built with NASA API and Vue.js</h6>
                        <p class="card-text">Play as a series of doctors during a plague in a decaying fantasy world. 
                            Travel across a suffering country while treating the sick, investigating the cause of the affliction,
                            and training your apprentice. All while trying to stay ahead of the corruption and death sweeping the land.
                            Discover the cause and cure for the plague before it ends the world as you know it.</p>
                        <a 
                        href="https://github.com/gshiva53/projects/tree/main/Interface-Design-Development-Project" 
                        class="btn btn-primary me-2"
                        target="_blank"
                        >GitHub</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <span class="badge text-bg-secondary mb-2 me-2">C++</span>
                        <span class="badge text-bg-secondary mb-2 me-2">Bachelors</span>
                        <h5 class="card-title">Zorkish</h5>
                        <h6 class="card-subtitle">Text based CLI game in C++</h6>
                        <a 
                        href="https://github.com/gshiva53/projects/tree/main/Zorkish" 
                        class="btn btn-primary me-2 mt-2"
                        target="_blank"
                        >GitHub</a>
                    </div>
                </div>
            </div>
        </div>
</section>
<br>
<br>
<hr>
<br>
<br>