<section class="footer"> 
    <div class="row p-5">
        <div class="col-sm-4  h6">
            <p>Designed and developed by</p>
            <p>Shiva Gupta 2024</p>
        </div>
        <div class="col-sm-6 ">
            <div class="row justify-content-center">
                <div class="col-4 link-offset-3">
                    <a href="https://www.linkedin.com/in/shiva-gupta-003613218">LinkedIn</a>
                </div>
                <div class="col-4 link-offset-3">
                    <a href="mailto:gshiva53@gmail.com">Gmail</a>
                </div>
                <div class="col-4 link-offset-3">
                    <a href="https://github.com/gshiva53">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</section>
