<section class="projects">
    <div class="mt-5 row justify-content-center">
        <div class="col-sm-4 border text-end">
            PROJECTS
        </div>  
        <div class="col-sm-6 border">
            <project [title]="title1" [description]="description1" [pointers]="pointers1">
            </project>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4 border"></div>
        <div class="col-sm-6 border">
            <project [title]="title1" [description]="description1" [pointers]="pointers1">
            </project>
        </div>
    </div>
</section>