<section class="projects">
    <div class="mt-5 row justify-content-center">
        <div class="col-sm-3 text-end text-primary h5">
            INTERNSHIP PROJECTS
        </div>  
        <div class="col-sm-6 ">
            <project [title]="title1" [description]="description1" [tasks]="tasks1">
            </project>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 ">
            <project [title]="title2" [description]="description2" [tasks]="tasks2">
            </project>
        </div>
    </div>
</section>